.navi{
    border-bottom: 0.1rem solid var(--color-second);
}
.content{
    grid-column: 1/3;
    width: 100%;
    height: 90vh;
}
.imag{
    grid-column: 3/7;
    background-image: url('./../icons/home1.jpg');
    background-position: center;
    background-size: cover;
}
.des{
    font-size: 1.6rem;
    text-align: start !important;
}
.nav{
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--color-white);
    border-bottom: 0.2rem solid var(--color-third);
}
.headers{
    height: 90vh;
    background-color: var(--color-second-light);
    background-image: linear-gradient(to bottom, #ffffff00, #000000cb),url("./../icons/land1.jpg");
    background-position: top;
    background-size: cover;
    margin-top: 10vh;
}

.link__,.linktofollow{
    color: var(--color-first);
}
.link__:last-child{
    background-color: var(--color-first);
    padding: 0.5rem 2rem;
    color: var(--color-white);
    border-radius: 1rem;
}
.iconland,.gauss{
    width: 100%;
}

.landing{
    font-size: 4.8rem;
    color: var(--color-white);
    text-align: center;
    line-height: 1.5;
}
.des{
    font-size: 1.6rem;
    color: var(--color-third);
}
.linktofollow{
    font-size: 1.6rem;
    color: var(--color-white);
    padding: 1rem 4rem;
    background-color: var(--color-white);
    color: var(--color-first);
}

.decenter{
    text-align: center !important;
}
.head2__big{
    font-size: 3.2rem !important;
}
.feahead{
    position: relative;
}

.flowIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -50;
    opacity: 10%;
}
.feaimg___{
    width: 100%;
}
.featlist{
    margin-top: 4.8rem;
}
.dashboard{
    border-radius: 1rem;
}
.desdash{
    font-size: 1.6rem;
    color: var(--color-second);
    line-height: 1.5;
    font-style: italic;
}

.prom{
    font-size: 9.6rem;
}

.whatSolve{
    padding: 0 9.6rem 9.6rem 9.6rem;
}
.feades{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.8;
    font-style: italic;
    font-weight: 400;
}

.solution{
    margin-top: 4.8rem;
    margin-bottom: 4.8rem;
}
.howuse{
    width: 120vh;
    margin-top: 4.8rem;

}
.checklists{
    font-size: 1.6rem;
}
.footer{
    background-color: var(--color-first);
}
.head2_white,.link__white{
    color: var(--color-white);
}

.solve{
    position: relative;
}
.robo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: -50;
    opacity: 30%;
}
.featurepro{
    margin-bottom: 4.8rem;
}
.problem{
    width: 100%;
}

.btns{
    grid-column: 1/3 !important;
    width: 100%;
    background-color: var(--color-first-light);
    border-radius: 1rem 0 0 1rem;
    overflow: hidden;
}
.explain{
    grid-column: 3/7;
    width: 100%;
    background-color: var(--color-third);
    border-radius: 0 1rem 1rem 0;
}
.slidebn{
    border: none;
    padding: 2.4rem;
    font-family: 'Oswald';
    background-color: var(--color-first-light);
    border-bottom: 0.05rem solid var(--color-first);
    color: var(--color-white);
    font-size: 1.6rem;
    cursor: pointer;
}
.slidebn_act{
    background-color: var(--color-first);
}
.list{
    list-style: none;
}
.listitem{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.disply1{
    padding: 0 12.6rem;
}
.card{
    width: auto;
    margin: 0 auto;
    height: 70vh;
    /* background-color: aqua; */
    
}

.iconhead{
    background-image: linear-gradient(to left bottom, #3d365c86, #7e4585de),url('./../icons/card.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 4.8rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.iconFea{
    width: 20%;
    fill: var(--color-white) !important;
}
.feahead{
    color: var(--color-white);
    text-align: center;
    line-height: 1.5;
}
.fealist{
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.5;
}
.card{
    position: relative;
}
.nextbtn{
    position: absolute;
    top: 50%;
    right: -25%;
    transform: translate(-50%, -50%);
    border: none;
    width: 7vh;
    height: 7vh;
    font-family: 'Montserrat';
    background-color: var(--color-first);
    color: var(--color-white);
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;
}
.prevbtn{
    position: absolute;
    top: 50%;
    left: -11%;
    transform: translate(-50%, -50%);
    border: none;
    width: 7vh;
    height: 7vh;
    font-family: 'Montserrat';
    background-color: var(--color-first);
    color: var(--color-white);
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;
}
.fixture{
    width: 80vh;
}
.disply1{
    border-right: 0.1rem solid var(--color-first);

}
.display2{
    position: relative;
}
.displaycircle{
    position: absolute;
    width: 55%;
    height: 65%;
    background-color: var(--color-first);
    border-radius: 50%;
    z-index: 60;
    border: 4rem solid var(--color-second);
    outline: 4rem solid var(--color-second-light);
    opacity: .7;
}

.phone{
    width: 45%;
    z-index: 70;
}
.innercard{
    position: relative;
    overflow: hidden;
    height: 100%;
}
.designcut1{
    position: absolute;
    width: 50vh;
    height: 10vh;
    background-color: var(--color-first);
    bottom: -8%;
    left: -10%;
    /* z-index: 20; */
    transform: rotate(15deg);
    outline: 2rem solid var(--color-first-light);

}
.designcut2{
    position: absolute;
    width: 50vh;
    height: 10vh;
    background-color: var(--color-second);
    bottom: -12%;
    right: -10%;
    z-index: 20;
    transform: rotate(-15deg);
    outline: 2rem solid var(--color-second-light);
}

.fealist_{
    transition: all 0.2s;
}

.innercard{
    border: 0.1rem solid var(--color-first);
}

.innercard {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animateMove {
  animation-name: move;
}

@keyframes move{
    0%{
        transform: scale(1.1);
        opacity: 0.5;
    }
   
    100%{
        transform: scale(1);
        opacity: 1;
    }
}