:root{
  --color-first :  #3d365c;
  --color-first-light :  #3d365c4e;
  --color-second-light : #60b5ff1f;

  --color-second : #7C4585;
  --color-third :  #EFEEEA;
  --color-fourth :  #FE7743;
  --color-five :  #DDA853;
  --color-mustdo : #FF0B55;
  --color-Moderatelly : #6DE1D2;
  --color-fun : #B2FEFA;
  --color-delegate : #0ed2f7;
  --color-fade : #f5eedc3a;
  --color-light-orange : #ffac4786;
  --color-white : #fff;

}

